%div{class: "footer"}
  %div{class: "footer-content"}
    %section{class: "l-one-third"}
      %h3 Home
      %p Russchen Media 2011-2013
    %section{class: "l-one-third"}
      %h3 Diensten
      %ul
        %li Film
        %li Website
        %li Blaat
    %section{class: "l-one-third"}
      %h3 Contact
      %p Westerkade 10A, 9718AP Groningen, info@russchenmedia.nl, 0623 883 880
