<div class="header">
  <div class="logo"></div>
  <div class="navigation">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to "About", page_path("about") %></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Nieuws', posts_path %></li>
    </ul>
  </div>
</div>
