%h1 Home#index
%p Find me in app/views/home/index.html.erb
%div{class: "key-points"}
  %section{class: "l-one-third"} Video
  %section{class: "l-one-third"} Websites
  %section{class: "l-one-third"} Marketing
