%div{class: "key-points"}
  %section{class: "l-one-third"}
    %h3 Video
    %p Video is een van de belangrijkste onderdelen van Russchen Media.
  %section{class: "l-one-third"}
    %h3 Websites
    %p Websites worden gezien als een aanvulling op het assortiment.
  %section{class: "l-one-third"}
    %h3 Marketing
    %p Tja, wat zal ik hier eens over zeggen. Ik weet niet wat hier komt.

%div{class: "l-full clients"}
  %h2 Onze klanten
  %div{class: "clients"}
    %img{src: "#"}
    %img{src: "#"}
    %img{src: "#"}
    %img{src: "#"}
    %img{src: "#"}
