<ul class="thumbnail-list">
  <% @other_projects.each do | project | %>
    <li class="thumbnail">
      <%= link_to project do %>
        <%= image_tag(project.thumbnail.url(:medium)) %>
        <div class="project-overlay">
          <i class="icon-play"></i>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
