@import "core/mixins";
@import "core/settings";

body {
  background: image-url('background.png');
}

.content {
  background: $white;
  border: solid 1px $baseBorderColor;
  margin-top: 100px;
  padding: 20px;
}

.footer {
  background: #585f69;

  &.footer-content{
    width: $max-width;
  }
}
