html, body {
  min-height: 100%;
}

html {
 overflow-y: scroll;
}

body {
  background: white;
  margin: 0;

  font-family: "Droid Serif", Helvetica, Lucida, "Segoe UI", Calibri, Verdana, Arial, sans-serif;
  font-size:1em;
  line-height:1.5em;
  color: $baseFontColor;
}

input, button, select {
  font-family:inherit;
  margin:0;
}

a {
  color: $baseFontColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  text-align: center;
  padding: 30px;
}

.logo {
  width: 140px;
  height: 126px;
  display: inline-block;
  background: asset-data-url('russchenmedia-logo.png');
}

.tagline {
  margin-top: 30px;

  h1 {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: normal;
    font-style: italic;
  }
}

.footer {
  border-top: $baseBorderStyle;
  font-size: 1em;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}
