@import "core/mixins";
@import "core/settings";

body {
  background: image-url('background.png');
}

.content {
  background: $white;
  border: solid 1px #333;
}

.content {
  margin-top: 100px;
  padding: 20px;
}
