.container {
  min-height: 100%;
}

.content-column {
  min-width: 320px;
  max-width: 962px;
  background: white;
  text-align:center;
  margin:auto;
  border-top: 1px solid transparent;
  padding-bottom:10000px;
  margin-bottom:-10000px;
  padding-left: 30px;
  padding-right: 30px;
}

.content-region {
  text-align: center;
  padding: 0;
}
