.container {
  min-height: 100%;
}

.content-column {
  min-width: 320px;
  max-width: 962px;
  background: white;
  text-align:center;
  margin:auto;
  border-top: 1px solid transparent;
  padding-left: 30px;
  padding-right: 30px;
}

.content-region {
  text-align: center;
  padding: 0;
}

@media only screen and (max-width: 540px) {
  .content-column {
    max-width: 240px;
    padding: 0;
  }

  .thumbnail-list .thumbnail {
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 540px) and (max-width: 780px) {
  .content-column {
    max-width: 480px;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1020px) {
  .content-column {
    max-width: 720px;
  }
}
