.project-description {
  border-top: $baseBorderStyle;
  border-bottom: $baseBorderStyle;
  text-align: left;
  padding: 10px 0 10px 0;
}

.project-others {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Droid Sans";
}
