.project-details {
  margin-top: 20px;
  text-align: left;
  border-collapse:collapse;

  tr {
    border-top: $baseBorderStyle;
  }

  th {
    text-transform: uppercase;
    font-family: "Droid Sans";
    padding: 5px 20px 5px 0;
    border-right: $baseBorderStyle;
  }

  td {
    padding: 5px 0 5px 10px;
  }
}

.project-description {
  border-top: $baseBorderStyle;
  border-bottom: $baseBorderStyle;
  text-align: left;
  padding: 10px 0 10px 0;
}

.project-others {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Droid Sans";
}

.youtube-container {
  position: relative;
  width: 100%;

  &:before {
    padding-top: 56.25%;
    display: block;
    content: ''
  }
}

.youtube-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.thumbnail-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.thumbnail {
  position: relative;
  width: 240px;
  height: 135px;
  float: left;

  &:hover {
    .project-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  color: white;
  font-size: 200%;

  visibility:hidden;
  opacity:0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;

  .icon-play {
    margin-top: 20%;
  }
}

.previous-project, .next-project {
  width: 50px;
  height: 200px;
  position: fixed;
  top: 50%;
}

.previous-project {
  background: asset-data-url('previous-arrow.png');
  right: 5%;
}

.next-project {
  background: asset-data-url('next-arrow.png');
  left: 5%;
}
