<!DOCTYPE HTML>
<html lang="nl">
  <head>
    <%= render "shared/head" %>
  </head>

  <body>
      <%= render "shared/menu" %>

      <div class="container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
  </body>
</html>
