<!DOCTYPE HTML>
<html lang="nl">
  <head>
    <%= render "shared/head" %>
  </head>

  <body>
    <%= render "shared/menu" %>

    <div class="front-photo">
      <div class="front-project">
        <section class="l-half"><h2>the hARz 2013: Hard Days Night</h2></section>
        <section class="l-half">plaatje</section>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
